<div
  class="modal-backdrop"
  [ngClass]="{ show: show }"
  (click)="closeModal()"
></div>
<div class="modal" [ngClass]="{ show: show }">
  <div class="modal-header">
    <h5 class="modal-title">{{ character.name }}</h5>
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">
      Close
    </button>
  </div>
</div>
