<div
  class="modal-backdrop"
  [ngClass]="{ show: show }"
  (click)="closeModal()"
></div>
<div class="modal" [ngClass]="{ show: show }">
  <div class="modal-header">
    <button class="close" (click)="closeModal()">&times;</button>
    <div class="modal-header-title">{{ character.name }}</div>
  </div>
  <div class="modal-body">
    <div class="modal-body-top">
      <div class="modal-body-top-image">
        <img [src]="character.imageUrl" />
      </div>
    </div>
    <div class="modal-body-bottom">
      <div class="modal-body-bottom-games">
        <div class="modal-body-bottom-games-title">Games:</div>
        <div class="modal-body-bottom-games-content">
          <div
            class="modal-body-bottom-games-content-game"
            *ngFor="let game of character.videoGames"
          >
            {{ game }},
          </div>
        </div>
      </div>
      <div class="modal-body-bottom-shows">
        <div class="modal-body-bottom-shows-title">Shows:</div>
        <div class="modal-body-bottom-shows-content">
          <div
            class="modal-body-bottom-shows-content-game"
            *ngFor="let show of character.tvShows"
          >
            {{ show }},
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
