.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 70vw;
  height: 70vh;
  min-width: 70vw;
  min-height: 70vh;
  z-index: 1050;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
  &-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    padding: 0 40px 0 0;
    display: flex;
    align-items: center;
    &-title {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 40px;
      color: #6e6893;
    }
  }
  &-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    &-top {
      height: 35vh;
      &-image {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border-radius: 4px;
          width: 300px;
          height: 300px;
          object-fit: cover;
        }
      }
    }
    &-bottom {
      padding: 20px;
      height: 30vh;
      width: 100%;
      &-games {
        max-height: 15vh;
        overflow: auto;

        &-title {
          color: #6e6893;
          font-size: 20px;
          font-weight: 600;
        }
        &-content {
          display: flex;
          flex-wrap: wrap;
        }
      }
      &-shows {
        max-height: 15vh;
        overflow: auto;

        &-title {
          color: #6e6893;
          font-size: 20px;
          font-weight: 600;
        }
        &-content {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

.modal.show {
  display: block;
}

.close {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transform: scale(2);
  color: #6e6893;
  cursor: pointer;
}
