<div class="table-container">
  <div class="table-container-header">
    <div class="table-container-header-input">
      <input
        type="text"
        placeholder="Search Characters by Name"
        (input)="onSearch($event)"
      />
    </div>
  </div>
  <table class="table-container-table" *ngIf="!loading; else test">
    <tr class="table-container-table-header">
      <th class="table-container-table-header-image"></th>
      <th class="table-container-table-header-name">
        <div class="header-pair" (click)="onSortClick('name')">
          <div class="header-pair-title">CHARACTER</div>
          <div class="header-pair-icon">
            <img
              src="../../assets/icons/arrow-up.svg"
              [ngClass]="!nameAscending ? 'rotated-icon' : ''"
            />
          </div>
        </div>
      </th>
      <th class="table-container-table-header-shows">
        <div class="header-pair" (click)="onSortClick('shows')">
          <div class="header-pair-title"># OF TV SHOWS</div>
          <div class="header-pair-icon">
            <img
              src="../../assets/icons/arrow-up.svg"
              [ngClass]="!showsAscending ? 'rotated-icon' : ''"
            />
          </div>
        </div>
      </th>
      <th class="table-container-table-header-games">
        <div class="header-pair" (click)="onSortClick('games')">
          <div class="header-pair-title"># OF GAMES</div>
          <div class="header-pair-icon">
            <img
              src="../../assets/icons/arrow-up.svg"
              [ngClass]="!gamesAscending ? 'rotated-icon' : ''"
            />
          </div>
        </div>
      </th>
      <th class="table-container-table-header-allies">ALLIES</th>
      <th class="table-container-table-header-enemies">ENEMIES</th>
    </tr>
    <tr
      class="table-container-table-row"
      *ngFor="let character of displayedCharacters; index as i"
    >
      <td class="table-container-table-row-image">
        <img [src]="character.imageUrl" alt="Character" />
      </td>
      <td class="table-container-table-row-name">
        {{ character.name }}
      </td>
      <td class="table-container-table-row-shows">
        {{ character.tvShows.length }}
      </td>
      <td class="table-container-table-row-games">
        {{ character.videoGames.length }}
      </td>
      <td
        class="table-container-table-row-allies"
        *ngIf="character.allies.length > 0; else emptyAllies"
      >
        {{ character.allies }}
      </td>
      <ng-template #emptyAllies><td>No Allies.</td> </ng-template>
      <td
        class="table-container-table-row-enemies"
        *ngIf="character.enemies.length > 0; else emptyEnemies"
      >
        {{ character.enemies }}
      </td>
      <ng-template #emptyEnemies><td>No Enemies.</td> </ng-template>
    </tr>
  </table>
  <!-- todo fix loading -->
  <ng-template #test
    ><loading-spinner [isLoading]="loading"></loading-spinner
  ></ng-template>

  <div class="table-container-footer">
    <div class="table-container-footer-rpp">
      <div class="table-container-footer-rpp-text">Rows per page:&nbsp;</div>
      <div class="table-container-footer-rpp-dropdown">
        <select [(ngModel)]="limit" class="dropdown" (change)="refetchData()">
          <option *ngFor="let option of paginationOptions" [value]="option">
            {{ option }}
          </option>
        </select>
      </div>
    </div>
    <div class="table-container-footer-results">
      {{ currentPage * limit - limit + 1 }}- {{ currentPage * limit }} of 7438
    </div>
    <div class="table-container-footer-pagination">
      <div
        class="table-container-footer-pagination-prev"
        (click)="onPrevClick()"
      >
        <
      </div>
      <div
        class="table-container-footer-pagination-next"
        (click)="onNextClick()"
      >
        >
      </div>
    </div>
  </div>
</div>
